@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html {
    font-size:62.5%;
} */

body {
    background-color: #E8762A;
    font-family:inter;
}

.upper {
    text-transform:uppercase;
}
.motto {
    font-size:4rem; 
    font-size: clamp(2.5rem, 0.7179487179487178rem + 5.47008547008547vw, 4rem);
    color:white;
    font-style:italic;
    font-weight:800;
}

.main {
    position:absolute;  
    padding:1rem;
    margin-top:4rem;
}

main {
    img {
        position:relative;
        top:10rem;
        width:100%;
    }
}

.description {
    color:white;
    font-family:inter;
    font-size:.8rem;
    max-width:50vw;
    margin-block:1rem;
}